body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(270deg, white, rgb(221, 220, 220));
  text-align: center;
}

header {
  text-align: center;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  display: inline;
  
}

.link {
  background: rgb(112, 218, 250);
  padding: 0px;
}


.featured-property {
  text-align: center;
}

figcaption {
  font-size: smaller;
}

.maintext {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

a {
  border: 1;
  padding: 10px;
}

.footer-column {
  background-color: red;
  text-align: center;
  float: left; 
  width: 25%; 
}